.App {
  text-align: center;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.ant-col {
  margin-bottom: 20px;
}
.gallery-item {
  display: flex;
  vertical-align: top;
  border: 1px solid #CCC;
  height: auto;
}
.image-box {
  flex: 1;
  vertical-align: top;
  width: 50%;
}
.gallery-info-box {
  flex: 1;
  vertical-align: top;
  width: 50%;
  padding: 10px;
  height: inherit;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.gallery-item p {
  padding: 0px 10px;
}
.App-link {
  color: #61dafb;
}

@media screen and (max-width: 464px) {
  .gallery-item p {
    max-height: 180px;
    overflow: hidden;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
